* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1283px;
    margin: 0 auto;
}

.hero-title {
    font-size: 80px;
    line-height: 94px;
    text-align: left;
    margin-top: 63px;
    margin-bottom: 38px;
}

.text-color {
    color: deepskyblue;
}

.nav-menu {
    text-align: center;
    margin-bottom: 48px;
}

.nav-menu-item1 {
    display: inline-block;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    background-color: #35444F;
    padding: 26px 33px 19px 194px;
}

.nav-menu-item2 {
    display: inline-block;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    background-color: #222F3A;
    padding: 26px 38px 19px 38px;
}

.nav-menu-item3 {
    display: inline-block;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    background-color: #35444F;
    padding: 26px 40px 19px 40px;
}

.nav-menu-item4 {
    display: inline-block;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    background-color: #35444F;
    padding: 26px 151px 19px 40px;
}

.nav-menu-link {
    text-decoration: none;
    color: #FFFFFF;
}

.block-info {
    width: 1283px;
    display: flex;
    margin: 0 auto;
}

.sidebar-menu {
    font-size: 27px;
    line-height: 27px;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    margin-right: 52px;
}

.sidebar-menu-item1 {
    list-style: none;
    color: #495863;
    padding: 26px 194px 25px 44px;
}

.sidebar-menu-item2 {
    list-style: none;
    color: #495863;
    padding: 27px 78px 27px 38px;
    background: #DBDBDB;
}

.sidebar-menu-item3 {
    list-style: none;
    color: #495863;
    padding: 26px 82px 25px 42px;
}

.sidebar-menu-item4 {
    list-style: none;
    color: #495863;
    padding: 26px 121px 26px 44px;
}

.sidebar-menu-item5 {
    list-style: none;
    color: #495863;
    padding: 26px 147px 30px 44px;
}

.sidebar-menu-link {
    text-decoration: none;
    color: #495863;
}

.image {
    padding: 75px 265px 73px 297px;
    border: 1px solid #000000;
}

.text-main {
    width: 1280px;
    margin: 0 auto;
}

.article-text1 {
    width: 885px;
    font-size: 18px;
    line-height: 24px;
    margin: 37px 0 34px 396px;
}

.article-text2 {
    width: 885px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 54px 396px;
}

.block-footer-info {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    background-color: #63696E7A;
    margin: 0 auto 30px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    line-height: 28px;
    padding: 20px 0 20px 40px;
    width: 928px;
}

.footer-menu-link {
    text-decoration: none;
    color: #0C1927;
}

.footer-menu-link-hover {
    color: #4682B4;
}

.footer-info {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    padding: 20px 40px 20px 82px;
}



