/*COMMON STYLE*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}
.container {
    width: 1145px;
    margin: 0 auto;
}
/*HEADER STYLE*/
.nav-menu {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin: 20px 0;
}
.nav-menu-item {
    margin: 0 36px;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    color: #FF0000;
}
.nav-menu-link {
    color: #FF0000;
    text-decoration: none;
    padding: 5px;
}

/*.navigation {*/
/*    padding-top: 25px;*/
/*    padding-bottom: 25pt;*/
/*    display: inline-block;*/
/*    }*/

/*MAIN STYLE*/
/*SECTION IMAGE STYLE*/

.image {
    display: inline-block;
    width: 100%;
}
/*SECTION TEXT STYLE*/

    .section-title {
        text-align: center;
        text-transform: uppercase;
        color: #373737;
        font-weight: bold;
        font-size: 22px;
        margin: 48px 0 38px 0;
          }
.text-content {
    text-align: center;
    margin-bottom: 28px;
    Line-height:   26px;
    Letter-spacing: 2.4px;
}
.btn {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 43px 18px;
    /*width: 105px;*/
    /*height: 15px;*/
    background: #FF0000;
    border-radius: 4px;
    margin-top: 66px;
    margin-bottom: 42px;
}
/* FOOTER STYLE */
/*.footer-wrapper {*/
/*    text-align: right;*/
/*}*/
/*.footer {*/
/*    margin: 40px 105px 30px;*/
/*    text-align: right;*/
/*    font-size: 16px;*/
/*    line-height: 20px;*/
/*    color: #373737;*/
/*}*/
.footer-text {
    text-align: right;
        font-size: 16px;
        line-height: 20px;
        color: #373737;
}







